# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Virtual Environment
env/
venv/
ENV/
env.bak/
venv.bak/
webscraping_env/

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# macOS files
.DS_Store
.AppleDouble
.LSOverride

# pyenv
.python-version

# VS Code settings and extensions
.vscode/

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# PyInstaller
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Test results
htmlcov/
.tox/
.nox/
.coverage
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/

# Celery beat schedule file
celerybeat-schedule
celerybeat.pid

# SageMath parsed files
*.sage.py

# dotenv
.env

# Pyre type checker
.pyre/

# Unit test / coverage reports
.pytest_cache/

#Sensitive data
secrets/